.speedDial {
  position: fixed;
  right: 0.8vmax;
  top: 0.8vmax;
  z-index: 100;
}

.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}

/* Header */
#header {
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 1px 15px #969393;
  box-sizing: border-box;
  z-index: 6;
  top: 0px;
  right: 0px;
  position: sticky;
}
.navigation-button {
  margin: 20px;
  display: flex;
  width: 30%;
  justify-content: space-between;
  cursor: pointer;
}
.livolt-logo-main {
  width: 250px;
  height: 250px;
  margin-top: -92px;
}

#header > div > div {
  text-decoration: none;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: rgb(87, 86, 86);
}
#header > div > div:hover {
  color: rgb(8, 148, 90);
  transform: scale3d(1.1, 1.1, 1.1);
}
.search-bar {
  margin-top: 10px;
  width: 25%;
}
.search-bar > input {
  width: 80%;
  text-decoration: none;
  font-size: 1rem;
  padding: 10px;
  outline: none;
}
.search-bar > button {
  background-color: rgb(8, 184, 90);
  color: whitesmoke;
  outline: none;
  border-style: none;
  margin-left: -3px;
  position: absolute;
  height: 43px;
  padding: 0 10px;
  cursor: pointer;
}
.search-bar > button:hover {
  background-color: rgb(28, 107, 49);
}
.cart-login {
  margin-top: 10px;
  width: 15%;
}
.cart-login > button {
  outline: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-style: none;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(242, 243, 242);
  background-color: rgb(8, 184, 90);
  padding: 8px 15px;
  margin-top: 0;
  cursor: pointer;
}
.cart-login > button:hover {
  background-color: rgb(28, 107, 49);
}
.cart-icon {
  margin-top: 5px;
  margin-right: 10%;
  transform: scale(1.3);
  cursor: pointer;
}

/* Sidebar and hamburger button and navbar for mobile size */
.ham-nav {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  position: sticky;
}
.nav-login-icon,
.nav-search-icon,
.nav-cart-icon,
.nav-login-icon,
.nav-menu-icon {
  color: rgb(8, 184, 90);
  margin: 13px;
  transform: scale(1.3);
}

/* media query */
@media screen and (max-width: 600px) {
  .ham-nav {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    padding: 8px 0;
    box-shadow: 0px 1px 15px #969393;
  }
  .hamburger {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
  }
  .search-bar {
    margin-left: auto;
    width: 95%;
    margin-bottom: 8px;
  }
  .search-bar-none{
    margin-left: auto;
    width: 95%;
    margin-bottom: 8px;
    display: none;
  }
  .search-bar > input {
    font-size: 0.8rem;
    padding: 8px;
  }
  .search-bar > button {
    height: 35.5px;
    padding: 0 6px;
  }
  .Livolt_logo {
    width: 150px;
    height: 150px;
    margin-top: -50px;
    margin-left: -120px;
  }
  .Livolt_logo_sidebar {
    width: 150px;
    height: 150px;
    margin-top: -50px;
    margin-top: -40px;
    margin-left: -20px;
    z-index: -1;
    margin-bottom: -55px;
  }
}

/* SpeedDial media Query */

@media screen and (max-width: 600px) {
  .speedDial {
    right: 1vmax;
    top: 1vmax;
    z-index: 100;
  }
  .speedDialIcon {
    width: 40px;
    height: 40px;
    background-color: white;
    z-index: 100;
    border-radius: 100%;
  }
}
